header{
    display: flex;
    border-bottom: 1px solid black;
}

header>h1{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header>nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    list-style: none;

}

@media screen and (min-width: 1024px){
    .display-none-mobile{
        display: none;
    }
}