<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGA ROCKET</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header>
        <h1><img src="../../assets/ícon/menuburguer.svg" alt="button-burger">MEGA ROCKET</h1>
        <h2 class="display-none-mobile">A FREE AND FULLY RESPONSIVE SITE TEMPLATE</h2>
        <nav>
            <li><a href="./index.html"><img src="../../assets/ícon/Home.png" alt="icono-home"></a></li>
            <li><a href="./sign-up.html"><img src="../../assets/ícon/Add User Male.png" alt="icono-user"></a></li>
            <li><a href="./login.html"><img src="../../assets/ícon/Login.png" alt="icono-login"></a></li>
            <li><a href="#"><img src="../../assets/ícon/info.png" alt="icono-info"></a></li>
        </nav>
    </header>
    <main>
        <fieldset>
            <legend>Login</legend>

            <form>
                <label for="email" class="email">Email:</label>
                <input type="text" id="email" name="email">

                <label for="password" class="password">Password:</label>
                <input type="password" id="password" name="password">

                <button type="button" id="login">Login</button>
            </form>
        </fieldset>
    </main>
    <script src="/week-06/js/login.js"></script>
    <footer>
        <div class="social-media">
            <img src="../../assets/ícon/facebook.svg" alt="logo-facebook">
            <img src="../../assets/ícon/whatsapp.svg" alt="logo-whatsapp">
            <img src="../../assets/ícon/instagram footer.svg" alt="logo-instagram">
        </div>
        <p class="footer-end"> &copy;MEGA ROCKET SA 2023</p>
    </footer>
</body>

</html>