@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

header {
    border-bottom: 1px black solid;
}


h1 {
    text-align: center;
    margin-top: 20px;
    color: #49A37B;
    font-family: 'roboto', sans-serif;
    font-weight: 50rem;
    font-size: 2.5rem;
    line-height: 100px;
}

h2 {
    text-align: center;
    font-family: 'roboto', sans serif;
    font-weight: 25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
fieldset{
    margin-top: 100px;
    height: 300px;

}

legend {
    color: #49A37B;
    font-size: 30px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

#login{
    margin-top: 50px;
}

.email,
.password {
    color: #49A37B;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
form>label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    margin-top: 30px;
}
