/* display desktop */

@media screen and (min-width: 1024px) and (max-width:1600px){
    
    h1>img{
        display: flex;
        align-items: center;
        margin-top: px;
        margin-left: px;
        
    }

    .display-none-mobile{
        display: none;
        
    }

    h1{
        display: flex;
        flex-direction: row;

    }
    header{
        display: flex;
    }
    header>nav{
        margin-left: 550px;
        align-items: center;
        position: relative;
        top:30px;
        background-image: none;
    }
    
    .img-logo{
        position: relative;
        display: inline;
        width: 500px;
        height: 450px;
        left: 500px;
        bottom:350px
    }
    .wallpaper{
        background-image: none;
    }
    .mobile-section,.mobile-section>h2,.mobile-section>p,.tablet-title{
        text-align: justify;
        margin-top: 20px;
        margin-left: 5px;
        width: 300px;
    }
    .mobile-section>h2, .tablet-title{
        color: #49A37B;
    }

    .function-set{ 
    height: 700px;
    }

    /*-------------ITEMS-FUNCTION APP-----------*/

    /*---------------------------------*/
    .appointment{
        position: absolute;
        width: 400px;
        height: 10px;
    }
    .appointment>img{
        position: relative;
        right: 130px;
    }
    .appointment>h2{
        position: relative;
        bottom: 120px;
        left: 50px;
    }
    .appointment>p{
        position: relative;
        bottom: 130px;
        left: 100px;
    }
    /*---------------------------------*/
    .calendar{
        position: absolute;
        width: 400px;
        height: 10px;
    }
    .calendar>img{
        position: relative;
        left:350px;
    }
    .calendar>h2{
        position: relative;
        bottom: 120px;
        left: 500px;
    }
    .calendar>p{
        position: relative;
        bottom: 130px;
        left: 580px;
    }
    /*---------------------------------*/

    .question{
        position: absolute;
        width: 400px;
        height: 10px;
    }
    .question>img{
        position: relative;
        left: 350px;
        top:350px
    }
    .question>h2{
        position: relative;
        top:220px;
        left: 475px;
    }
    .question>p{
        position: relative;
        top:200px;
        left: 580px;
    }

    /*---------------------------------*/
    .membership{
        position: absolute;
        width: 400px;
        height: 10px;
    }
    .membership>img{
        position: relative;
        right: 130px;
        top: 350px;
    }
    .membership>h2{
        position: relative;
        top: 220px;
        left: 70px;
    }
    .membership>p{
        position: relative;
        top: 210px;
        left: 100px;
    }
    .about-us{
        display: flex;
    }
    .about-us>h3,.about-us>p{
        width: 50%;
    }
    .form-query{
        position: relative;
        
    }
    .form-query>h3{
        display: flex;
        justify-content:flex-start;
        margin-left:100px;
    }
    #fname, #lname, #email{
        position: relative;
        right: 250px;
    }

    .form-contact{
        position: absolute;
        height: 800px;
    }
    .form-contact>h3{
        position: relative;
        margin-left:100px;
        bottom: 510px;
        left: 500px;
    }
    .form-contact>.checkbox-input{
        position: relative;
        bottom: 530px;
        left: 550px;
    }
    .button-imput{
        position: relative;
        right: 450px;
    }
    .activities{
    width: 100px;
    }

    .Card-membership{
        position: absolute;
        
    }
    .membership-only{
        position: relative;
        bottom: 470px;
        left: 730px;
        width: 300px;
    }
    .membership-classic{
        position: relative;
        bottom:730px;
        left: 460px;
        width: 280px;
    }
    .membership-black{
        position: relative;
        bottom: 1080px;
        left: 170px;
        width: 320px;
    }
    .membership-black>p{
        overflow: hidden;
    }

   .line-footer{
    height: 400px;
   }
    
    
}

/* display mobile */
@media screen and (min-width: 601px) and (max-width:1024px) {

    .display-none-mobile {
        display: none;
    }

    .section-title {
        display: block;
    }

    .tablet-title {
        text-align: center;
        color: #49A37B;
        font-family: 'roboto' sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .wallpaper {
        background-image: none;
    }

    .img-logo {
        display: block;
        position: relative;
        width: 300px;
        left: 340px;
        bottom: 320px;
    }

    .mobile-section {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: justify;
        background-image: none;
    ;
    }

    nav {
        justify-content: center;
    }

    nav>li>a {
        margin-left: 20px;
    }

    .app-funcion-item {
        display: block;
        text-align: justify;
        width: 450px;
        height: 300px;
    }

    .app-funcion-item>img {
        position: relative;
        top: 50px;
        left: 30px;
    }

    .app-funcion-item>h2 {
        position: relative;
        left: 30px;
    }

    .app-funcion-item>p {
        position: relative;
        left: 90px;
    }

    section>.activitiesuno,
    .activitiesdos {
        display: inline block;
        flex-direction: column;
    }

    .list-mobile {
        margin-bottom: 50px;
    }
}